@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap');


:root
{
    --gradient:linear-gradient(to right, #ffff 0%, #c6ddf1 100%);
    --font-noto: "Noto Sans";
    /* --admin-gradient: linear-gradient(90deg, #C77DFF, #9D4EDD, #7B2CBF, #3C096C);
} */
}
nav {
  position: sticky;
  top: 0;
  z-index: 1;
}

:root {
  --admin-gradient: linear-gradient(90deg, #C77DFF, #9D4EDD, #7B2CBF, #3C096C);
}
heroAdmin{
  position: sticky;
  top: 0;
  z-index: 2;
}

.active button {
	background-color: #3730a3;
  }
  
  .active button:hover {
	background-color: #6c5ce7;
  }
  
  .current  
  {
	background-color:#9333ea ;
  }

  .current button:hover
  {
	background-color:  #3b0764;
  }