@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap');


:root
{
    --gradient:linear-gradient(to right, #ffff 0%, #c6ddf1 100%);
    --font-noto: "Noto Sans";
    /* --admin-gradient: linear-gradient(90deg, #C77DFF, #9D4EDD, #7B2CBF, #3C096C);
} */
}

.bg-active {
	background-color: blue;
  }


  
